/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/Helistuuuuunts!/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Helistuuuuunts/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/

<div class="html-control control-output-pair">GPS x: <strong id="gpsX" class="control-output"></strong></div>
<div class="html-control control-output-pair">GPS y: <strong id="gpsY" class="control-output"></strong></div>
<div class="html-control control-output-pair">GPS z: <strong id="gpsZ" class="control-output"></strong></div>

<div class="html-control control-output-pair">Altitude: <strong id="altitude" class="control-output"></strong></div>
<div class="html-control control-output-pair">Air speed: <strong id="airSpeed" class="control-output"></strong></div>

<div class="engine-control">
<table cellspacing="0">
<tbody>
<tr>
    <th class="key">Key</th><th>Movement Control</th>
</tr>
<tr>
    <td class="key">W,A,S,D</td>
    <td>Movement</td>
</tr>
<tr>
    <td class="key">Enter</td>
    <td>Toggle full screen</td>
</tr>
<tr>
    <td class="key">Escape</td>
    <td>Release mouse pointer</td>
</tr>
</tbody>
</table>
</div>
/*{% endblock %}*/
